body {
  margin: 0;
  padding: 0;
  font-family: monospace;
  background:rgb(240, 240, 240);
  /* background: url(....)  
  background-attachment: fixed;
  background-position: center;  
   */
}

header {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 100px;
  background:rgb(230, 230, 230);
  width: 100%;
  box-sizing: border-box;
}

header .logo {
  color: rgb(0, 0, 0);
  height: 50px;
  line-height: 50px;
  font-size: 24px;
  float: left;
  font-weight: bold;
}

header nav {
  float: right;
}

header nav ul {
  margin: 0px;
  padding: 0px;
  display: flex;
}

header nav ul li {
  list-style: none;
  position: relative;                   /*for submenu's absolute*/
}

header nav ul li.nav-li-drop::before {  /*dynamic adds char to sub on class (easy) */
  content: "\23F7"; 
  line-height: 50px;
  position: absolute;
  right: 5px;
  color: rgb(202, 109, 33);
}

/* header nav ul li.active.nav-li-drop::before {

} */

header nav ul li ul {                   /*the nested submenu*/
  display: none;                        /*hidden*/
  position: absolute;
  left: 0;
  background:rgb(215, 215, 215);
}

header nav ul li:hover ul {             /*give sub ul a display*/
    display: block;                     
}

header nav ul li ul li {
  display: block;
  width: 200px;
}

header nav ul li a {
  height: 50px;
  line-height: 50px;
  padding: 0 20px;
  text-decoration: none;
  color: rgb(200, 117, 51);
  font-size: 14px;
  display: block;
}

header nav ul li a:hover,
header nav ul li a.active {             /*active class ([html] ON homepage)*/
  color: rgb(202, 109, 33);
  background:rgb(210, 210, 220);
}

.menu-toggle {
  float: right;
  display: none;                        /*becomes flex on @media*/
  flex-direction: column;
  height: 50px;
  text-align: center;
  justify-content: center;
  cursor: pointer;
}

img.menu-bar {
  height: 30px;
  width: 30px;
}

@media (max-width: 981px) {
  header {
    padding: 0px 20px;
  }
  .menu-toggle {                        /*class displays on media*/            
    display: flex;
  }
  header nav {
    position: absolute;
    width: 100%;
    height: calc(100vh - 50px);         /*menu full -50px so no scroll (below)*/
    top: 50px;                          /*so can see logo and hamburger above*/
    left: -100%;                        /*so exist but off scr (below)*/
    background: rgb(235, 235, 235);
    transition: 0.5s;
  }
  header nav.active {                   /*class ADDED then displays on media*/    
    left: 0;                            /*brings to viewable position on page*/
  }
  header nav ul {
    display: block;                     /*creates full page menu blocks*/
    text-align: center;
  }
  header nav ul li:hover ul {           /*ensures no hover on mobile*/
    display: none; 
  }

  header nav ul li.active ul {          /*block submenu properly placed below nav item*/
    display: block;
    position: relative; 
  }
  
  header nav ul li.active ul li {
    width: 100%;
  }

  header nav ul li a {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }
}
