/* //////////////////////////////////////////////////////////////////////////////// */
/* NAV MENU */
/* //////////////////////////////////////////////////////////////////////////////// */

body {
  display: relative;
  margin: 0;
  padding: 0;
  font-family: monospace;
  background:rgb(240, 240, 240); 
}

header {
  position: relative;
  top: 0;
  left: 0;
  padding: 0 100px;
  background:rgb(210, 210, 220);
  height: 50px;
  width: 100%;
  box-sizing: border-box;
}

header .logo {
  color: rgb(0, 0, 0);
  height: 50px;
  line-height: 50px;
  font-size: 24px;
  float: left;
  font-weight: bold;
}

header nav {
  float: right;
}

header nav ul {
  margin: 0px;
  padding: 0px;
  display: flex;
}

header nav ul li {
  list-style: none;
  position: relative;                   /*for submenu's absolute*/
}

header nav ul li.nav-li-drop::before {  /*dynamic adds char to sub on class (easy) */
  content: "\23F7"; 
  line-height: 50px;
  position: absolute;
  right: 5px;
  color: rgb(202, 109, 33);
}

header nav ul li ul {                   /*the nested submenu*/
  display: none;                        /* hidden */
  position: absolute;
  left: 0;
  background:rgb(215, 215, 215);
  z-index: 1;  
}

header nav ul li:hover ul {             /*give sub ul a display on hover*/
    display: block;    
}

header nav ul li ul li {
  display: block;
  width: 200px;
}

header nav ul li a {
  height: 50px;
  line-height: 50px;
  padding: 0 20px;
  text-decoration: none;
  color: rgb(200, 117, 51);
  font-size: 14px;
  display: block;
}

header nav ul li a:hover,
header nav ul li a.active {             /*active class ([html] ON homepage)*/
  color: rgb(202, 109, 33);
  background:rgb(210, 210, 220);
}

.menu-toggle {
  float: right;
  display: none;                        /*becomes flex on @media*/
  flex-direction: column;
  height: 50px;
  text-align: center;
  justify-content: center;
  cursor: pointer;
}

img.menu-bar {
  height: 30px;
  width: 30px;
}

@media (max-width: 981px) {
  header {
    padding: 0px 20px;
    z-index: 1;
  }
  .menu-toggle {                        /*class displays on media*/            
    display: flex;
  }
  header nav {
    position: absolute;
    width: 100%;
    height: calc(100vh - 50px);         /*menu full -50px so no scroll (below)*/
    top: 50px;                          /*so can see logo and hamburger above*/
    left: -100%;                        /*so exist but off scr (below)*/
    background: rgb(235, 235, 235);
    transition: 0.5s;
  }
  header nav.active {                   /*class ADDED then displays on media*/    
    left: 0;                            /*brings to viewable position on page*/
  }
  header nav ul {
    display: block;                     /*creates full page menu blocks*/
    text-align: center;
  }
  header nav ul li:hover ul {           /*ensures no hover on mobile*/
    display: none; 
  }

  header nav ul li.active ul {          /*block submenu properly placed below nav item*/
    display: block;
    position: relative; 
  }
  
  header nav ul li.active ul li {
    width: 100%;
  }

  header nav ul li a {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }
}


/* //////////////////////////////////////////////////////////////////////////////// */
/* Fluff */
/* //////////////////////////////////////////////////////////////////////////////// */

main {
  position: absolute;                   /*because has to sit below absolute header*/
  top: 50px;
  width: 100%;  
}

main #container-main{                   /*to centre everything (as ^ need absolute)*/
  max-width: 1600px;
  margin: auto;
}

h1 {
  font-size: 15px;
  text-align: center;
  margin: 30px 20px 0px;
}

#title-fluff p {
  padding: 25px 40px;
  font-size: 14px;
}

/* //////////////////////////////////////////////////////////////////////////////// */
/* IMAGE CAROUSEL */
/* //////////////////////////////////////////////////////////////////////////////// */

#slider-area {
  background-color: rgb(200, 117, 51);
  padding: 50px 50px 30px;
  position: relative; 
}

#slider-area #window {
  max-width: 770px;
  margin: auto;
  overflow: hidden;
  box-sizing: content-box;
  border: 3px solid rgb(140, 140, 160);
  position: relative;
}

#slider-area #window #slide {   
  display: flex;
  width: 100%;
  height: 513px;
  transition: transform 0.5s ease-in-out;
}

#slider-area #left-arrow,
#slider-area #right-arrow  {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  text-align: center;
  line-height: 35px;
  font-size: 25px;
  font-weight: 600;
  cursor: pointer;
}

#slider-area #left-arrow {
position: absolute;
top: 50%;
left: 5%;
z-index: 2;
}

#slider-area #right-arrow {
  position: absolute;
  top: 50%;
  right: 5%;
  z-index: 10;
}

#selection-circles {
  width: fit-content;
  margin: auto;
  margin-top: 20px;
  cursor: pointer;
}

#selection-circles span {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  border: 1px solid black;
  display: inline-block;
  margin: 5px;
}

/* //////////////////////////////////////////////////////////////////////////////// */
/* Fluff */
/* //////////////////////////////////////////////////////////////////////////////// */

#form-area h1 {  
  padding: 30px 30px 0px;
  margin: 0px;
}

#form-area p {
  padding: 25px 40px;
}

/* //////////////////////////////////////////////////////////////////////////////// */
/* BROWSER FORM */
/* //////////////////////////////////////////////////////////////////////////////// */

form {
  padding: 20px 30px;
  border: 2px solid rgb(200, 117, 51);
  border-radius: 5px;
  width: fit-content;
  margin: auto;
  margin-top: 10px;
}

form input,
form label {
  display: block;
  width: 400px;
  padding: 10px 10px 5px; 
}

form input,
form select {
  border: 1px solid rgb(140, 140, 160);
  border-radius: 3px;
}

form input .invalid {
  border-right: 10px solid rgb(199, 51, 51);
}

.valid {
  border-right: 10px solid rgb(51, 199, 51);
}

form button {
  display: block;
  padding: 10px 10px 5px;
  background-color: rgba(0, 0, 0, 0.6);
  border: none;
  color: white;
  font-size: 14px;
  font-weight: 600;
  border-radius: 3px;
  width: 200px;
  margin: auto;
  margin-top: 20px;
}


/* //////////////////////////////////////////////////////////////////////////////// */
/* FOOTER
/* //////////////////////////////////////////////////////////////////////////////// */

#footer {
  background:rgb(210, 210, 220);
  height: 50px;
  width: 100%;
  margin-top: 30px;
}